/*--------------------------------------------------------------
# VARIABLES
--------------------------------------------------------------*/

:root {
  --delft-blue: #3A3C63;
  --floral-white: #F9F4EA;
  --atomic-tangerin: #F19460;
  --keppel: #51B599;
  --iris: #6E46CC;
}

/*--------------------------------------------------------------
# GLOBALS
--------------------------------------------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body,
  html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/

