/*--------------------------------------------------------------
# VARIABLES
--------------------------------------------------------------*/

:root {
  --c-delft-blue: #3A3C63;
  --c-floral-white: #F9F4EA;
  --c-atomic-tangerin: #F19460;
  --c-keppel: #51B599;
  --c-iris: #6E46CC;
  --c-raisin-black: #1E1D22;
}

/*--------------------------------------------------------------
# FONTS
--------------------------------------------------------------*/

@font-face {
  font-family: 'Montserrat-Bold';
  src: url(../../fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: 'Inter-Light';
  src: url(../../fonts/Inter-Light.ttf);
}

/*--------------------------------------------------------------
# GLOBALS
--------------------------------------------------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--c-delft-blue);
  color: var(--c-floral-white);
  font-family: 'Inter-Light';
}

/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/

header {
  background-color: var(--c-raisin-black);
  padding: 0rem 2rem;
}

header img {
  width: 6%;
  height: auto;
}

/*--------------------------------------------------------------
# MAIN
--------------------------------------------------------------*/

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "live-score player-list"
    "score-list player-list";
}

/*--------------------------------------------------------------
# LIVE SCORE
--------------------------------------------------------------*/

.live-score {
  grid-area: live-score;
}

/*--------------------------------------------------------------
# SCORE LIST
--------------------------------------------------------------*/

.score-list {
  grid-area: score-list;
}

/*--------------------------------------------------------------
# PLAYER-LIST
--------------------------------------------------------------*/

.player-list {
  color: #1E1D22;
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  grid-area: player-list;
  background-color: #F9F4EA ;
  margin: 2rem;
  border-radius: 0.5rem;
  padding: 1.5rem;
  line-height: 1.6;
  font-size: 1.1rem;
}

.player-list h2 {
  padding-bottom: 1rem;
  font-weight: bolder;
  font-family: 'Montserrat-Bold';
}

.player-list p span {
margin-left: 1rem;
padding: 0 0.5rem;
border-radius: 0.5rem;
  background-color: #1E1D22;
  color: #F9F4EA;
}